<div>
    <h2 id="page-heading">
        <span jhiTranslate="smarfarmApp.farm.home.title">Farms</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-farm" [routerLink]="['/farm/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="smarfarmApp.farm.home.createLabel">
            Create a new Farm
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="farms?.length === 0">
        <span jhiTranslate="smarfarmApp.farm.home.notFound">No farms found</span>
    </div>
    <div class="table-responsive" *ngIf="farms?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="smarfarmApp.farm.creationDate">Creation Date</span></th>
            <th scope="col" ><span jhiTranslate="smarfarmApp.farm.owner">Owner</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let farm of farms ;trackBy: trackId">
                <td><a [routerLink]="['/farm', farm.id, 'view' ]">{{farm.id}}</a></td>
                <td>{{farm.creationDate | date:'medium'}}</td>
                <td>
                    {{farm.owner?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/farm', farm.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/farm', farm.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/farm', { outlets: { popup: farm.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
