<div>
    <h2 id="page-heading">
        <span jhiTranslate="smarfarmApp.area.home.title">Areas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-area" [routerLink]="['/area/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="smarfarmApp.area.home.createLabel">
            Create a new Area
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="areas?.length === 0">
        <span jhiTranslate="smarfarmApp.area.home.notFound">No areas found</span>
    </div>
    <div class="table-responsive" *ngIf="areas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="smarfarmApp.area.size">Size</span></th>
            <th scope="col" ><span jhiTranslate="smarfarmApp.area.farm">Farm</span></th>
            <th scope="col" ><span jhiTranslate="smarfarmApp.area.plantation">Plantation</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let area of areas ;trackBy: trackId">
                <td><a [routerLink]="['/area', area.id, 'view' ]">{{area.id}}</a></td>
                <td>{{area.size}}</td>
                <td>
                    <div *ngIf="area.farm">
                        <a [routerLink]="['/farm', area.farm?.id, 'view' ]" >{{area.farm?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="area.plantation">
                        <a [routerLink]="['/plantation', area.plantation?.id, 'view' ]" >{{area.plantation?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/area', area.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/area', area.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/area', { outlets: { popup: area.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
