<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="area">
            <h2><span jhiTranslate="smarfarmApp.area.detail.title">Area</span> {{area.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="smarfarmApp.area.size">Size</span></dt>
                <dd>
                    <span>{{area.size}}</span>
                </dd>
                <dt><span jhiTranslate="smarfarmApp.area.farm">Farm</span></dt>
                <dd>
                    <div *ngIf="area.farm">
                        <a [routerLink]="['/farm', area.farm?.id, 'view']">{{area.farm?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="smarfarmApp.area.plantation">Plantation</span></dt>
                <dd>
                    <div *ngIf="area.plantation">
                        <a [routerLink]="['/plantation', area.plantation?.id, 'view']">{{area.plantation?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/area', area.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
