<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-area-heading" jhiTranslate="smarfarmApp.area.home.createOrEditLabel">Create or edit a Area</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smarfarmApp.area.size" for="field_size">Size</label>
                    <input type="number" class="form-control" name="size" id="field_size"
                           formControlName="size"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smarfarmApp.area.farm" for="field_farm">Farm</label>
                    <select class="form-control" id="field_farm" name="farm" formControlName="farm">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="farmOption.id === editForm.get('farm').value?.id ? editForm.get('farm').value : farmOption" *ngFor="let farmOption of farms; trackBy: trackFarmById">{{farmOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smarfarmApp.area.plantation" for="field_plantation">Plantation</label>
                    <select class="form-control" id="field_plantation" name="plantation" formControlName="plantation">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="plantationOption.id === editForm.get('plantation').value?.id ? editForm.get('plantation').value : plantationOption" *ngFor="let plantationOption of plantations; trackBy: trackPlantationById">{{plantationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
