<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="waterConsumption">
            <h2><span jhiTranslate="smarfarmApp.waterConsumption.detail.title">Water Consumption</span> {{waterConsumption.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="smarfarmApp.waterConsumption.date">Date</span></dt>
                <dd>
                    <span>{{waterConsumption.date}}</span>
                </dd>
                <dt><span jhiTranslate="smarfarmApp.waterConsumption.millimiters">Millimiters</span></dt>
                <dd>
                    <span>{{waterConsumption.millimiters}}</span>
                </dd>
                <dt><span jhiTranslate="smarfarmApp.waterConsumption.area">Area</span></dt>
                <dd>
                    <div *ngIf="waterConsumption.area">
                        <a [routerLink]="['/area', waterConsumption.area?.id, 'view']">{{waterConsumption.area?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/water-consumption', waterConsumption.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
